th {
    text-align: left;
}

.char-count::before {
    content: 'chars: ';
}

.token-count::before {
    content: 'tokens: ';
}

td {
    padding: 2px 4px;
}

#moderation_panel {
    margin-bottom: 1rem;
}

div.editor-toolbar>a,
div.editor-toolbar>i {
    width: 40px;
    height: 40px;
    font-size: 36px;
}

div.editor-toolbar>a[title="Moderation"] {
    background-color: #ff9b4e;
}

.CodeMirror, .CodeMirror-scroll {
	min-height: 160px;
}

#moderation-model {
    display: inline-block;
    margin: auto;
}